body{
  background-color: #D5CFE1;
}

.sec-title{
  height: 768px;
}


.sec-about{
  height: 768px;
  background-color: #aa9fb1;
}

.sec-skills{
  height: 768px;
  background-color: #A09ABC;
}


.sec-contact{
  height: 768px;
  background-color: #D4BEBE;
}

.sec-projects{
  height: 100%;
  background-color: #E1DEE9;
}

.projects-title{
  transform: rotate(270deg) scale(5);
}

.contact-title{
  transform: rotate(90deg) scale(5);
}



/* responsive */

@media (max-width:767px){

  .navigation nav{
    display: flex;
    justify-content: center;
  }

  .sec-projects{
    display: flex;
    flex-direction: column;
  }

  main .sec-title, .sec-about, .sec-skills, .sec-contact{
    height: 100%;
  }

  .sec-title{
    width: auto;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sec-about{
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .sec-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sec-projects article{
    width: 90%;
    overflow-x: scroll;
  }

  .sec-projects h5{
    transform: none;
    width: auto;
    font-size: 30px;
  }

  .sec-contact .contact-title{
    transform: none;
  }

  .sec-about h5{
    font-size: 30px;
  }

  .sec-contact h5{
    font-size: 30px;
  }

  .sec-skills h5{
    font-size: 30px;
  }


}
